body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3em auto 3em;
}

header, main, footer {
  padding: .5em;
}

header {
  background: radial-gradient(#FE0, #F80)
}

main {
  // display: flex;
}

.feature {
  max-width: 40%;
  float: left;
}