<h1>All Artworks</h1>
<div class="index">
  <% @works.each do |w| %>
    <div class="card">
    <h2><%= w.title %></h2>
    <%= link_to image_tag(w.image, :alt => w.title, :class => 'thumb'), w %>
    </div>
  <% end %>
</div>