<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est nobis nemo nisi nostrum alias iusto asperiores. Ab nobis minima, libero laboriosam magnam quod reprehenderit tempora officia, praesentium ex culpa. Maiores.</p>
<img src="http://fillmurray.com/600/800" alt="" />