<p>Welcome to my Crappy Calculator</p>
<form action="/result">
  <label>First Number:</label>
  <input type="number" name="x" />

  <label>Operation:</label>
  <input type="text" name="op" />

  <label>Second Number:</label>
  <input type="number" name="y" />

  <button>Calculate</button>
</form>