<h1>Edit Plant</h1>

<form action="/plants/<%= @plant['id'] %>" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @plant['name'] %>" autofocus required/><br />

  <label for="image">Image:</label>
  <input type="url" name="image" id="image" value="<%= @plant['image'] %>" /><br />
  
  <button>Update</button>
</form>