<form action="/price">
  <label for="symbol">Select a Stock Symbol</label>
  <select id="symbol" name="symbol">
    <option value="AAPL">Apple (AAPL)</option>
    <option value="GOOG">Google (GOOG)</option>
    <option value="AMZN">Amazon (AMZN)</option>
    <option value="MSFT">Microsoft (MSFT)</option>
  </select>
  <button>Find Price</button>
<form>