<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=980, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruby Wall Street</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="box">
      <h1>Welcome to <span>💎 Ruby 💎</span> Wall Street</h1>
      <%= yield %>
    </div>
  </div>
</body>
</html>


