<p>The price for <%= @company_name %> <%= params[:symbol] %> is $<%= @close_price %>.</p>
<a href="../">Back</a>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=980, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="box">
      
      <%= yield %>
    </div>
  </div>
</body>
</html>