<h1>Edit Butterfly</h1>

<form action="/butterflies/<%= @butterfly['id'] %>" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @butterfly['name'] %>" autofocus required/><br />

  <label for="family">Family:</label>
  <input type="text" name="family" id="family" value="<%= @butterfly['family'] %>" required/><br />

  <label for="image">Image:</label>
  <input type="url" name="image" id="image" value="<%= @butterfly['image'] %>" /><br />
  
  <button>Update</button>
</form>